body {
    margin: 0;
    overflow: hidden;
    font-family: 'Rancho', cursive;
    background: radial-gradient(ellipse 100% 60% at 20% 40%, #a8ffc2 0%, #FCF4E7 100%);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    color: #333333;
    box-sizing: border-box;
}

nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background: linear-gradient(to right, transparent, #333333, transparent);
}

.logo {
    font-size: 2rem;
    font-weight: semibold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-links a {
    color: #333333;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.nav-links a::before,
.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 1px;
    background: #333333;
    transition: width 0.3s ease-in-out;
}

.nav-links a::before {
    left: 100%;
    background: linear-gradient(to left, #333333 50%, transparent);
}

.nav-links a::after {
    right: 100%;
    background: linear-gradient(to right, #333333 50%, transparent);
}

.nav-links a:hover::before,
.nav-links a:hover::after {
    width: 50%;
}

#center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
    font-family: 'Rancho', cursive;
    font-size: 8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    white-space: nowrap;
}

#ui {
    display: none;
}

canvas {
    display: block;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
    }

    .logo {
        font-size: 2rem; /* Increase logo font size */
    }

    .nav-links a {
        font-size:5rem; /* Increase nav links font size */
    }

    nav::after {
        display: none; /* Hide the faded line */
    }

    #center-text {
        font-size: 4rem; /* Reduce font size for mobile */
    }
}
